@media screen and (min-width: 320px) {
  .text-fields__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .t-label{
    display: flex;
    flex-direction: column;
  }
  .t-input{
    display: flex;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1440px) {
}