.grid-container {
  height: 100vh;
  margin: auto;
  display: grid;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .grid-container {
    padding-top: 5px;
    grid:
      "header" auto
      "leftSide" 1fr
      "body" 1fr
      "rightSide" 1fr
      "footer" auto
      / auto;
    gap: 3px;
    max-width: none;
    min-width: none;
  }
  .main__body {
    grid-area: body;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
  }
}
/* ----------------------------------------------------- */
@media screen and (min-width: 768px) {
  .grid-container {
    padding-top: 10px;
    grid:
      "header header header" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto / auto 1fr auto;
    gap: 4px;
    max-width: 100%;
    min-width: 100%;
    justify-items: center;
  }
  .main__body {
    align-content: center;
    align-items: flex-start;
    margin: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .grid-container {
    grid:
      "header header header" auto
      "leftSide leftSide body rightSide" 1fr
      "footer footer footer" auto / auto 1fr 2fr 1fr;
  }
  .main__body {
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .grid-container {
    grid:
      "header header header" auto
      "leftSide leftSide body body rightSide rightSide" 1fr
      "footer footer footer" auto / auto 1fr 2fr 2fr 1fr auto;
  }
  .main__body {
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }
}