:root {
  --container-max-width: 1200px;
  --gap-small: 5px;
  --gap-medium: 10px;
  --gap-large: 15px;
  --margin: 5px;
  --padding: 5px;
  --border-radius: 10px;
  --font-min-size: 3px;
  --font-small-size: small;
  --font-medium-size: 7px;
  --font-large-size: 9px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  /* max-width: var(--container-max-width); */
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc(2px + 2vmin);
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  body{
    font-size: small;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1024px) {
  body{
    font-size: normal;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1440px) {
}

@media print {
  .print-only {
    display: none;
  }
  
  .print-styling {
    /* стили для печати */
  }
}

/* Normalize.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');