# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Игнорировать все каталоги
# */
# Отменить игнорирование конкретных каталогов
!/default/
!/templates/
!/venchels/
!/utils/*
!/utils/.gitkeep

# dependencies
/node_modules

# Игнорировать все внутри директории uploads
!/uploads/*
# Отменить игнорирование поддиректорий внутри uploads
!/uploads/*/
# Отменить игнорирование файла .gitkeep в корне uploads
!/uploads/.gitkeep

#Игнорировать все внутри директории
/uploads/venchels/*
# !/uploads/venchels/* 
# !/uploads/venchels/*/ 

#? /uploads/venchels/* файлы нет, папки нет
#? !/uploads/venchels/* файлы да, папки да
#? /uploads/venchels/* + !/uploads/venchels/*/ файлы нет, папки + (.gitkeep) да

#Игнорировать все файлы внутри директории
# /uploads/templates/*
!/uploads/templates/* 

# /uploads/default/*
!/uploads/default/*

/fonts/*
!/fonts/*/

# files in ./
/modified_test_tmp.docx
/output_with_watermark.pdf
/output.pdf
/combined.log
/error.log
/socket_logs.txt


/.pnp
.pnp.js
/modified_document.docx

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
