.user-button-group {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  max-width: 2000px;
}

.test1 {
  display: flex;
  /* border: 2px solid #0066cc; */
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.test1:not(:last-child) {
  margin-left: 1px; /* Убирает пространство у последнего элемента .test1 */
}

.user-task__button {
  width: 185px;
  color: #fff;
  background-color: #0066cc;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin: 5px;
}
.active button.user-task__button {
  width: 85px;
  color: #fff;
  background-color: #ccd0d3;
  padding: 10px 30px;
  border: 2px solid #6b6f74;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.user-task__button:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}

.user-task-page__three-blocks-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
}


@media screen and (min-width: 320px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1440px) {
}